body{
    background-color: palevioletred;
    color: wheat;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
}

.lights{
    border: 1px solid rebeccapurple;
    background: black;
    width: 70px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    border-radius: 10px 10px 0 0;
}


.lights .light{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: gray;
}


.speed{
    height: 55px;
    font-size: 25px;
    width: 120px;
    border: 2px solid black;
    border-radius: 8px;
    background: rgb(34, 167, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pole{
    border: 1px solid rgb(195, 216, 3);
    width: 22px;
    height: 280px;
    background: yellow;
}

big{
    color: red;
    font-weight: bold;
    font-size: 20px;
}